.checkbox[type="checkbox"] {
    border: #000000 solid 1px;
    border-radius: 40%;
    appearance: none;
    height: 15px;
    width: 15px;
    outline: none;
    margin-bottom: 0;
}

.checkbox[type="checkbox"]:checked {
    /*border: #000000 solid 10px;*/
    border-radius: 40%;
    background: #3fb508;
}

.span {
    font-family: "Arial", sans-serif;
    text-decoration: none;
}

.line {
    text-decoration: line-through;
    font-family: "Arial", sans-serif;
}
